#root {
  h2 {
    font-size: 20px;
    margin-left: 100px;
  }
  .smallImg {
    width: 69px;
    height: 75px;
    background: url("@/assets/imgs/5kb.png") no-repeat;
  }
  .bigImg {
    width: 232px;
    height: 154px;
    background: url("./assets/imgs/22kb.png") no-repeat;
  }
}
